/**
* @file 
* @date 2022-08-09
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-08-09
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */


/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.home_container {
    width: 50rem;
    height: 5rem;
    background-color: pink;
}


/* <--------------------------- * SECTION1 * --------------------------- */