# 定义工作流名称
name: workflowName

# 触发工作流的事件
on:
  push:
    branches: main
    # tags:
    #   - "v1.[0-9]+.[0-9]+-dev"
  # pull_request:
  #   branches: main

# 执行的任务 --- 一个或多个
jobs:
  # 任务的名称
  job_name:
    # 指定运行所需的虚拟机环境
    runs-on: ubuntu-latest

    # 指定每个job运行步骤
    steps:
      # 检查代码
      - name: checkout code
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          npm ci
          npm run build

      # 构建和部署
      - name: build and deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          ACCESS_TOKEN: ${{secrets.MY_TOKEN}}
          BRANCH: gh-pages
          FOLDER: build
          # BUILD_SCRIPT: npm install && npm run build
