# 定义工作流名称
name: workflowName

# 触发工作流的事件
on:
  push:
    branches: main
    # tags:
    #   - "v1.[0-9]+.[0-9]+-dev"
  # pull_request:
  #   branches: main

# 执行的任务 --- 一个或多个
jobs:
  # 任务的名称
  job_name:
    concurrency: ci-${{ github.ref }}
    # 指定运行所需的虚拟机环境
    runs-on: ubuntu-latest

    # 指定每个job运行步骤
    steps:
      # 检查代码
      - name: checkout code
        uses: actions/checkout@v3

      # 2.向github发布包
      - name: publish to github packages
        uses: elgohr/Publish-Docker-Github-Action@v4
        with:
          name: zhuxiaojiao1/docker_demo_02 # 必须带上github用户名!!!!
          username: ${{github.actor}}
          password: ${{secrets.MY_TOKEN}}
          registry: ghcr.io
          dockerfile: Dockerfile # 不能 DockerFile (只能首字母大写！！！)
          tags: "0.0.1"

      # 构建和部署
      - name: build and deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{secrets.MY_TOKEN}}
          branch: demo01
          folder: .
          # folder: ~/work/study_demo01/App/build #  /home/runner/work/study_demo01/App/build
          repository-name: zhuxiaojiao1/zhuxiaojiao1/github.io
          # folder: ./App/build  # /home/runner/work/study_demo01/study_demo01/App/build
          # folder: .  部署成功了，但是找不到页面
          # folder: build # /home/runner/work/study_demo01/study_demo01/build
          # folder: ~/App/build  # /home/runner/App/build
